/* -------------------- menu style --------------------- */
.menu {
  width: 1920px;
  height: 500px;
  background: var(--real_p_red);
  padding-top: 150px;
  position: fixed;
  z-index: 2000;
  box-shadow: 0px 12px 8.4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-120%);
  transition: transform 1s ease;
}

.menu_cnt {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_cnt img {
  transform-origin: center center;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
  transition: all 0.4s;
}
/* 
.menu_cnt img:hover {
  margin: 0 35px;
  transform: scale(1.3);
  transition: all 0.4s;
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.6));
} */

.close {
  position: absolute;
  top: 0;
  right: 0;
}

/* -------------- nav style ----------------- */
nav {
  width: 1920px;
  height: 90px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

nav .nintendo_logo {
  width: 171px;
  height: 42px;
  margin-left: 42px;
}

/* --------------------------- intro style --------------------------- */
.intro {
  background: var(--real_p_red);
}

.intro .nav_box {
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro img:first-child {
  width: 171px;
  height: 42px;
  margin-left: 42px;
}

.intro video {
  width: 1280px;
  margin-left: 320px;
  margin-top: 135px;
}

/* ------------- hero page style ----------- */

.hero .s_mario {
  width: 100%;
  position: absolute;
  top: 194px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0 122px;
}

.hero .s_mario .blank {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.hero .icon img {
  position: absolute;
  z-index: 2;
}

.hero .icon img:nth-child(1) {
  left: 1456px;
  top: 106px;
}

.hero .icon img:nth-child(2) {
  left: 1614px;
  top: 825px;
}

.hero .icon img:nth-child(3) {
  left: 308px;
  top: 194px;
}

.hero .icon img:nth-child(4) {
  left: 855px;
  top: 295px;
}

.hero .icon img:nth-child(5) {
  left: 217px;
  top: 908px;
}

.hero .icon img:nth-child(6) {
  left: 910px;
  top: 702px;
}

.hero .main_text p {
  position: absolute;
  line-height: 100%;

  z-index: 1;
}

.hero .main_text p:nth-child(1) {
  color: #000;
  font-size: 80px;
  font-weight: 250;

  left: 684px;
  top: 747px;
}

.hero .main_text p:nth-child(2) {
  color: var(--primary_red);
  font-size: 150px;
  font-weight: 600;
  left: 875px;
  top: 686px;
}

.hero .cap p {
  color: var(--gray_700);
  font-size: 16px;
  font-weight: 400;
  line-height: 179.004%; /* 28.641px */
  position: absolute;
  left: 1017px;
  top: 838px;
}

.hero .play {
  padding: 0;
  display: flex;

  column-gap: 40px;
  /* border: 1px solid; */
  margin: auto;
}

.hero .play img:nth-child(1) {
  margin-top: 177px;
  margin-left: -30px;
}

.hero .play > img:nth-child(2) {
  margin-bottom: 222px;
}

/* .hero .play > img:nth-child(3) {
  margin-top: 0;
} */

.hero .play > img:nth-child(4) {
  margin-top: 217px;
}

.NowYoure {
  width: 454px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 29px;
  border: 3px solid var(--gray_200);
  color: var(--gray_200, #ccc);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 41.4px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 951px;
}

/* --------------------------------------- anywhere style */

.anywhere,
.anytime {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.anywhere {
  left: 338px;
  top: 307px;
}
.anywhere .h {
  display: flex;
  align-items: center;
  margin-left: -18px;
  margin-right: -10px;
}
.hcenter {
  width: 84px;
  height: 28px;
  background: var(--primary_red);
  margin-left: -24px;
}
.hright {
  margin-left: -45px;
}

.anytime {
  left: 203px;
  top: 505px;
}

.e {
  display: flex;
  margin-left: -16px;
}
.lines {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.lines .etop,
.ecenter,
.ebtm {
  width: 81px;
  height: 28px;
  background: var(--primary_red);
}
.etop {
  margin-left: -29px;
}
.ecenter {
  margin-left: -46px;
}
.e_top,
.e_center,
.e_bottom {
  display: flex;
}
.lines .ebtm {
  height: 16px;
  margin-left: -55px;
}

.topedge,
.ctedge,
.btmedge {
  margin-left: -12px;
}

.aw_line,
.at_line {
  position: absolute;
  height: 2.376px;
  background: #000;
}
.aw_line {
  width: 1206px;
  left: 318px;
  top: 427px;
}

.at_line {
  width: 917.622px;

  left: 188px;
  top: 626px;
  z-index: 3;
}
/* ------------------------ hw 1p style --------------------------- */

.hardware {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
}
.arrowbox_left,
.arrowbox_right {
  border: 1px solid purple;
  width: 153px;
  height: 1080px;
  background: #fff;
  z-index: 1;
  position: relative;
}
.hardwarebox,
.hw {
  width: 1614px;
  height: 1080px;
  position: relative;
}
.hardware02 {
  transform: translate(1614px, -1080px);
}
.hardware03_gray {
  transform: translate(3228px, -2160px);
}

/* ----------------------- arrowbox ----------------------- */

.arrowbox_left .thebest {
  position: absolute;
  left: 62px;
  top: 414px;
}

.arrowbox_left .back_icon,
.arrowbox_right .next_icon {
  transform: translate(63px, 513px);
}
.back_icon {
  opacity: 0;
}

/* ------------hw01-------------------- */

.hardware01 *,
.hardware03_gray * {
  position: absolute;
}
.hardware01 .switch_shadow {
  left: 341px;
  top: 760px;
}

.hardware01 .title .Nintendo,
.hardware01 .title .Nintendo_s {
  color: var(--primary_red);
  font-size: 208px;
  font-weight: 800;
  line-height: 100%; /* 208px */
}

.hardware01 .title .Nintendo {
  left: 93px;
  top: 150px;
}

.hardware01 .title .Nintendo_s {
  opacity: 0.4;
  filter: blur(10px);
  left: 103px;
  top: 160px;
}

.hardware01 .title .Switch,
.hardware01 .title .Switch_s {
  color: var(--primary_red);

  font-size: 195px;

  font-weight: 800;
  line-height: 100%; /* 195px */
}

.hardware01 .title .Switch {
  left: 138px;
  top: 621px;
}

.hardware01 .title .Switch_s {
  opacity: 0.4;
  filter: blur(10px);
  left: 148px;
  top: 631px;
}

.hardware01 .cap {
  color: var(--gray_800);

  font-size: 26px;

  font-weight: 300;
  line-height: 34px; /* 130.769% */
  left: 143px;
  top: 830px;
}

.hardware01 .oled {
  position: absolute;
  left: 217px;
  top: 226px;
}

.hardware01 .circles .hw01_c01 {
  left: 964px;
  top: 320px;
}

.hardware01 .circles .hw01_c02 {
  left: 1356px;
  top: 235px;
}

.hardware01 .circles .hw01_c03 {
  left: 1390px;
  top: 871px;
}

.hardware01 .OLED_text {
  color: var(--primary_red);
  text-align: right;
  font-size: 213px;
  font-weight: 800;
  line-height: 100%; /* 213px */
  left: 789px;
  top: 606px;
  z-index: 4;
}

.hardware01 .OLED_mask {
  left: 811px;
  top: 320px;
  z-index: 5;
}
/* ----------------------------- hw02 ---------------------------- */

.hardware02 * {
  position: absolute;
}

.hardware02 .switch_shadow {
  left: 548px;
  top: 850px;
}

.hardware02 .cap {
  color: var(--gray_800);
  font-size: 26px;
  font-weight: 300;
  line-height: 34px; /* 130.769% */
  left: 999px;
  top: 931px;
}

.hardware02 .switch {
  left: 226px;
  top: 48px;
  transform: rotate(5.179deg);
}

.hardware02 .circles .hw02_c01 {
  left: 391px;
  top: 90px;
}
.hardware02 .circles .hw02_c02 {
  left: 1264px;
  top: 508px;
}
.hardware02 .circles .hw02_c03 {
  left: 264px;
  top: 140px;
}

.hardware02 .Nintendo_s {
  color: var(--secondary_blue);
  font-size: 208px;
  font-weight: 800;
  line-height: 100%;
  opacity: 0.4;
  filter: blur(10px);
  left: 609px;
  top: 719px;
}

.hardware02 .Nintendo {
  color: var(--secondary_blue);
  font-size: 208px;
  font-weight: 800;
  line-height: 100%;
  left: 599px;
  top: 709px;
}

.hardware02 .Switch_s {
  color: var(--secondary_blue);
  font-size: 195px;
  font-weight: 800;
  line-height: 100%;
  opacity: 0.4;
  filter: blur(10px);
  left: 242px;
  top: 254px;
}

.hardware02 .Switch {
  color: var(--secondary_blue);
  font-size: 195px;
  font-weight: 800;
  line-height: 100%;
  left: 232px;
  top: 244px;
}

.hardware02 .switch_mask {
  left: 391px;
  top: 90px;
}

/*----------------------------- hw03 -----------------------------*/
.hardware03_gray .circles img:nth-child(1) {
  left: 536px;
  top: 81px;
}
.hardware03_gray .circles img:nth-child(2) {
  left: 144px;
  top: 416px;
}
.hardware03_gray .circles img:nth-child(3) {
  left: 1495px;
  top: 595px;
}
.hardware03_gray .circles img:nth-child(4) {
  left: 105px;
  top: 322px;
}
.hardware03_gray .lite_gray {
  left: 258px;
  top: 222px;
  transform: rotate(11.75deg);
}

.hardware03_gray .cap {
  color: var(--gray_800);
  font-size: 26px;
  font-weight: 300;
  line-height: 34px; /* 130.769% */
  left: 271px;
  top: 884px;
}

.hardware03_gray > span {
  color: var(--gray_500);
  /* leading-trim: both;
  text-edge: cap; */
  font-size: 16px;
  font-weight: 300;
  line-height: 34px; /* 212.5% */
  left: 1100px;
  top: 948px;
}

.hardware03_gray #Nintendo {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  left: 264px;
  top: 685px;
}

.hardware03_gray #Nintendo_s {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  opacity: 0.4;
  filter: blur(8.978022575378418px);
  left: 265px;
  top: 694px;
}

.hardware03_gray #Switch {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  left: 536px;
  top: 113px;
}
.hardware03_gray #Switch_s {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  opacity: 0.4;
  filter: blur(10px);
  left: 546px;
  top: 123px;
  z-index: -10;
}

.hardware03_gray .pickcolor {
  height: 36px;
  display: flex;
  column-gap: 18.5px;
  left: 1094px;
  top: 989px;
}

.hardware03_gray .pickcolor > * {
  width: 57.803px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 20px;
  position: relative;
}

.hardware03_gray .pickcolor #selected {
  border: 3px solid #000;
}

.hardware03_gray .pickcolor .gray {
  background: #70777a;
}
.hardware03_gray .pickcolor .yellow {
  background: #fdf050;
}

.hardware03_gray .pickcolor .cyan {
  background: #50b3b6;
}

.hardware03_gray .pickcolor .pink {
  background: #ec5882;
}

.hardware03_gray .pickcolor .blue {
  background: #062b91;
}

/* ----------------------  hw_id ---------------------- */

.hw_id {
  position: absolute;
  width: 276px;
  height: 9px;
  left: 193px;
  top: 1003px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hw_id .id_hw01 {
  width: 210px;
  height: 9px;
  border-radius: 9px;
  background: var(--primary_red, #d42d26);
}

.id_hw02,
.id_hw03 {
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background: var(--gray_200, #ccc);
}

/* ---------------------- main01 page style ---------------- */
.main01 {
  overflow: hidden;
  background-color: var(--primary_red);
  scroll-snap-type: y mandatory;
}

.main01 #joycon {
  left: -155px;
  top: 380px;
  transform: rotate(-215.958deg);
  /* transform: rotateX(-180deg); */
}
.main01 #play {
  left: 436px;
  top: 418px;
}

.main01 #together {
  left: 152px;
  top: 670px;
}

.main01 #blur {
  display: none;
}

.line {
  width: 1px;
  height: 325px;
  opacity: 0.6;
  background: #e6e6e6;
  left: 1272px;
  top: 284px;
}

.main01 p {
  color: var(--gray_100, #e6e6e6);
  font-size: 26px;
  font-weight: 200;
  line-height: 34px; /* 130.769% */
  opacity: 0.6;
  left: 1314px;
  top: 298px;
  width: 508px;
}

/* -----------game01 zelda + switch page style ----------- */
.game {
  position: relative;
}

.game_c .switchImage {
  transform-origin: center center;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  width: 1270px;
  height: 541px;
  margin: auto;
  margin-top: 269.5px;
  /* transform: translateY(-50%) !important; */
}

/* .game_c .switchImage .s_left {
  position: absolute;

  z-index: -1;
} */
.game_c .s_center {
  transform: translateX(-16px);
}
.game_c .s_right {
  transform: translate(-32px, -160px);
  z-index: -1;
}

.game_c .switch_bg,
.zelda_video {
  position: absolute;
  width: 899px;

  left: 514px;
  top: 290px;
}

.game_c .switch_bg {
  background: #ffffff;
  overflow: hidden;
  height: 504px;
}
.zelda_video,
.ac_video {
  width: 901px;
}

.game_c .switch_bg .thumbnail {
  display: flex;
  column-gap: 31px;
  padding: 100px 0 100px 50px;
}

.game_c .select {
  width: 285.5px;
  height: 350px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 50px;
}

.game_c .zd_imgs .zelda_logo {
  position: absolute;
  opacity: 0;
  left: 748px;
  top: 370px;
  z-index: 100;
}

.blank {
  width: 1920px;
  height: 1080px;
  background-color: #efefef;
}

/* ------------------ zelda full page style --------------- */

/* .zelda .zelda_cnt * {
  display: none;
} */

.game_c .zelda_cnt > img:nth-child(1) {
  position: absolute;
  left: 917px;
  top: 136px;
  z-index: 100;
}

.game_c .zelda_cnt .card01,
.card02,
.card03,
.card01bhd,
.card02bhd,
.card03bhd {
  position: absolute;
  box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.3);
}

.game_c .zelda_cnt .card .card01 {
  z-index: 115;
  left: 474px;
  top: 266px;
}

.game_c .zelda_cnt .card .card02 {
  left: 1376px;
  top: 476px;
}

.game_c .zelda_cnt .card .card03 {
  left: 113px;
  top: 476px;
}

/* card01 */
.game_c .zelda_cnt .card .card01bhd {
  z-index: 102;
  left: 474px;
  top: 266px;
}

.game_c .card01body,
.card02body,
.card03body {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 170%; /* 40.8px */
  z-index: 130;
}

.game_c .card01body {
  width: 633px;
  left: 644px;
  top: 573px;
}

.game_c .create {
  position: absolute;
  left: 831px;
  top: 401px;
  z-index: 104;
}

.game_c .line_c {
  position: absolute;
  top: 473px;
  left: 773px;
  z-index: 135;
}

.game_c .eyes {
  position: absolute;
  width: 883px;
  height: 40px;
  left: 519px;
  top: 520px;
  display: flex;
  justify-content: space-between;
  z-index: 135;
}

/* card02 */

.game_c .card02body {
  width: 633px;
  left: 644px;
  top: 573px;
}
.game_c .card02bhd {
  width: 973px;
  left: 480px;
  top: 266px;
  z-index: 120;
}

.game_c .explore {
  position: absolute;
  left: 815px;
  top: 401px;
  width: 287px;
  z-index: 130;
}

/* card03 */

.game_c .card03bhd {
  z-index: 110;
  width: 973px;
  left: 478px;
  top: 270px;
}
.game_c .discover {
  position: absolute;
  left: 804px;
  top: 401px;
  z-index: 130;
}
.game_c .card03body {
  left: 644px;
  top: 573px;
  width: 633px;
}

.game_c .zelda_text > img {
  position: absolute;
  fill: rgba(255, 255, 255, 0.02);
}

.game_c .zelda_cnt .zelda_text > img:nth-child(1) {
  left: 46px;
  top: 11px;
}

.game_c .zelda_cnt .zelda_text > img:nth-child(2) {
  left: 0;
  top: 775px;
}
.game_c .zelda_cnt .bg_shadow {
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
}

.game_c .zelda_cnt .zelda_id {
  /* position: absolute; */
  display: flex;
  width: 1643px;
  /* height: 73px; */
  column-gap: 10px;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 170px;
}

.zelda_id .footline,
.footline2 {
  display: flex;
  align-items: center;
}

.line_left,
.line_right {
  height: 1px;
  background: var(--gray_300);
}
.line_left {
  width: 8px;
}

.line_right {
  width: 1510px;
}
.zelda_id .footline {
  transform: rotate(-180deg);
}

.game_c .footline .right_r01,
.left_r01 {
  transform: translateX(50%);
}

.right_r02,
.left_r02 {
  transform: translateX(-50%);
}

.game_c .zelda_cnt .factor * {
  position: absolute;
  mix-blend-mode: color-burn;
}

.game_c .zelda_cnt .factor img:nth-child(1) {
  left: 1689px;
  top: 244px;
  transform: rotate(-40deg);
}

.game_c .zelda_cnt .factor img:nth-child(2) {
  left: 366px;
  top: 736px;
}

/* ---------------- game02 animal crossing  -------------------- */

.animal {
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0;
  top: 0;
}

.animal .ac_imgs * {
  position: absolute;
}

.animal .ac_video {
  left: 514px;
  top: 287px;
  z-index: 3000;
}

.animal .ac_logo {
  left: 720px;
  top: 300px;
  z-index: 3900;
}

.animal .ac_cnt {
  position: absolute;
}

.animal .ac_cnt > img {
  position: absolute;
}
.animal .ac_cnt .yeoul {
  left: 133px;
  top: 490px;
  z-index: 3004;
}

.animal .ac_cnt .textballon {
  position: absolute;
  left: 745px;
  top: 697px;
  z-index: 3005;
}

.animal .ac_cnt .textballon2 {
  position: absolute;
  visibility: hidden;
}

/* house */

.animal .house * {
  position: absolute;
  z-index: 3002;
}

.animal .house_main {
  left: 0;
  top: -103px;
}
.animal .house_cap {
  left: 1204px;
  top: 228px;
  z-index: 3006;
}

.animal .house_body,
.DIY_body,
.fishing_body {
  color: #5e4000;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%; /* 48px */
}

.animal .house_body {
  width: 692px;
  z-index: 3005;
  left: 926px;
  top: 782px;
}

.animal .id_house {
  left: 1586px;
}

/* DIY */

.animal .DIY *,
.fishing * {
  position: absolute;
}

.animal .DIY_main {
  left: -54px;
  top: 134px;
  z-index: 3101;
}

.animal .DIY_cap {
  left: 808px;
  top: 540px;
  z-index: 3100;
}

.animal .id_DIY {
  left: 1585px;
  top: -5px;
  z-index: 3101;
}

.animal .ac_bg02 {
  z-index: 3002;
}

.animal .DIY_body {
  width: 799px;
  left: 790px;
  top: 790px;
  z-index: 3110;
}

/* fishing */

.animal .fishing_main {
  left: 989px;
  top: 148px;
  z-index: 3200;
}

.animal .id_fishing {
  left: 1585px;
  top: -4px;
  z-index: 3201;
}

.animal .fishing_cap {
  left: 719px;
  top: 476px;
  z-index: 3202;
}

.animal .fishing_body {
  width: 692px;
  left: 250px;
  top: 790px;
  z-index: 3200;
}

.animal .ac_bg03 {
  z-index: 3003;
}

/* -------------------- game 03 pokemon ---------------------  */
.pokemon {
  position: relative;
  transform: translateY(-1053px);
  width: 100%;
  height: 1080px;
  z-index: 4000;
  overflow: hidden;
}

.pk_cnt {
  width: 100%;
  height: 1080px;
  position: relative;
}

.pokemon .pk_bg {
  transform: translate(514px, 290px);
  width: 899px;
  height: 503px;
  display: block;
}

.pokemon .pk_logo {
  position: relative;
  transform: translate(755px, -670px);
}

.pkbody {
  color: #004169;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%; /* 76.8px */
  transform: translateY(-3428px);
}

.pk_icon1,
.pk_icon2 {
  position: relative;
  width: 88px;
  height: 100px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.pk_icon2 {
  transform: translate(-50%, -100%);
}

.choose_box {
  width: 223px;
  height: 61px;
  left: 850px;
  top: 954px;
  flex-shrink: 0;
  border-radius: 73px;
  border: 3px solid #003250;
  opacity: 0.5;
  position: absolute;
  color: #003250;
  font-family: Outfit;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* common */

.quaxly_txt,
.fuecoco_txt,
.sprigatito_txt {
  position: absolute;
  height: 1080px;
}

.tq1,
.tf1,
.ts1 {
  position: absolute;
  top: -32px;
}
.tq2,
.tf2,
.ts2 {
  position: absolute;
  top: 543px;
}
.qcap1,
.qcap2,
.fcap1,
.fcap2,
.scap1,
.scap2 {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 24px */
  position: absolute;
  width: 220px;
}

.qcap1,
.fcap1,
.scap1 {
  left: -8px;
  top: 528px;
  transform: rotate(-90deg);
}

.qcap2,
.fcap2,
.scap2 {
  left: 1719px;
  top: 529px;
  transform: rotate(90deg);
}

/*  ----------------- quaxly */

.quaxly {
  position: relative;
  z-index: 4100;
  height: 1080px;
  transform: translateY(-710px);
}

.qch {
  transform: translate(286px, 214px);
}

.qbody,
.fbody,
.sbody {
  color: var(--gray_700);
  font-size: 24px;
  font-weight: 300;
  line-height: 170%; /* 40.8px */
}

.qbody {
  text-align: right;
  width: 497px;
  transform: translate(1050px, -50px);
}
.title_quaxly {
  transform: translate(860px, -530px);
}

/*  ------------------ fuecoco */

.fuecoco {
  position: relative;
  height: 1080px;
  transform: translateY(-1790px);
}

.fbody {
  width: 721px;
  transform: translate(323px, -315px);
}

.title_fuecoco {
  transform: translate(312px, -315px);
}

.fch {
  transform: translate(1046px, 209px);
}

.sprigatito {
  position: relative;
  height: 1080px;
  transform: translateY(-2860px);
}

.sch {
  transform: translate(1072px, 188px);
}

.sbody {
  width: 866px;
  transform: translate(237px, 314px);
}

.title_sprigatito {
  transform: translate(230px, 406px);
}

/* ---------------------- controller page style ------------------------ */

.controller * {
  position: absolute;
}
.ent_ctr {
  transform: rotate(-90deg);
  left: -1.5px;
  top: 340px;
}

.ctrbody {
  width: 719px;
  color: var(--gray_500);
  text-align: right;
  font-size: 28px;
  font-weight: 400;
  line-height: 179.004%; /* 50.121px */
  left: 1015px;
  top: 700px;
}

.line1,
.line2,
.line3 {
  height: 1px;
  background: var(--gray_600);
}

.line1 {
  width: 854px;
  left: 27px;
  top: 587px;
  transform: rotate(90deg);
}

.line2 {
  width: 1319px;
  left: 454px;
  top: 647px;
}
.line3 {
  width: 487px;
  left: 1366px;
  top: 403px;
  transform: rotate(90deg);
}
.is {
  left: 1310px;
  top: 321px;
}
.for {
  left: 548px;
  top: 473px;
}

.nintendo * {
  top: 325px;
}
.n_n1 {
  left: 525px;
}
.n_i {
  left: 628.23px;
}
.n_n2 {
  left: 670.31px;
}
.n_t {
  left: 787.87px;
}
.n_e {
  left: 863.1px;
}
.n_n3 {
  left: 949.62px;
}
.n_d {
  left: 1052.83px;
}
.n_o {
  left: 1164.15px;
}

.everyone * {
  top: 477px;
}

.e_e1 {
  left: 781px;
}
.e_v {
  left: 884.63px;
}
.e_e2 {
  left: 965.23px;
}
.e_r {
  left: 1051.75px;
}
.e_y {
  left: 1156.08px;
}
.e_o {
  left: 1232.48px;
}
.e_n {
  left: 1338.24px;
}
.e_e3 {
  left: 1441.46px;
}

/* ------------------ ctr product page style --------------- */

.ctr_products {
  /* border: 1px solid red; */
  display: flex;
}

.prbar {
  width: 130px;
  height: 1080px;
  /* border: 1px solid; */
}

.whole_bar,
.present {
  width: 7px;
  border-radius: 9px;
  flex-shrink: 0;
  transform: translate(65px, 323px);
}

.whole_bar {
  height: 544px;
  background: var(--gray_100);
}

.present {
  height: 59px;
  background: var(--real_p_red);
}

.item {
  width: 1790px;
  height: auto;
  /* border: 1px solid green; */
}

.kirby,
.pikachu,
.mario {
  width: 1790px;
  height: 1080px;
  overflow: hidden;
  /* border: 1px solid; */
  position: relative;
}
.kirby *,
.pikachu *,
.mario * {
  position: absolute;
}

.kirbycap,
.pikachucap,
.mariocap {
  color: var(--gray_800);
  font-size: 22px;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.kirbybody,
.pikachubody,
.mariobody1,
.mariobody2 {
  color: var(--gray_700);
  font-size: 20px;
  font-weight: 300;
  line-height: 180%; /* 36px */
}

.id_kirby,
.id_pikachu,
.id_mario {
  right: 30px;
  bottom: 54px;
}

/*  -------- kirby ----------- */

.kirbycap {
  left: 1212px;
  top: 357px;
}

.kirbybody {
  width: 486px;
  left: 1129px;
  top: 447px;
  text-align: right;
}
.kirbych,
.star1,
.star2 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.kirbych {
  left: 1402px;
  top: 742px;
}

.star1 {
  left: 301px;
  top: 125px;
}
.star2 {
  left: 395px;
  top: 106px;
  transform: rotate(29.319deg);
}

.star3 {
  left: 1516px;
  top: 840px;
}

.ctrkirby1 {
  top: 438px;
}
.ctrkirby2 {
  left: 405px;
  top: 347px;
}

.kirby_title {
  left: 457px;
  top: 192px;
}

/* ---------- pikachu -------- */

.pikachubody {
  width: 619px;
  left: 121px;
  top: 762px;
}

.pikachucap {
  left: 369px;
  top: 501px;
}

.pikachu_title {
  left: 116px;
  top: 183px;
}
.pikachu2 {
  left: 942px;
  top: 0;
}
.pikachu1 {
  left: 817px;
  top: 341px;
}
.pikachuball {
  left: 688px;
  top: 138px;
}

.pikachuch {
  left: 50px;
  top: 532px;
}

/* mario */

.mario_title {
  left: 84px;
  top: 292px;
}
.marioch1 {
  left: 277px;
  top: 47px;
  transform: rotate(13deg);
}
.marioch2 {
  left: 102px;
  top: 565px;
}
.marioch3 {
  left: 192px;
  top: 637px;
}

.marioch4 {
  left: 1269px;
  top: 132px;
}

.mario_title {
  left: 84px;
  top: 292px;
}

.ctrmario2 {
  left: 904px;
  top: 317px;
}
.ctrmario1 {
  left: 622px;
}

.mariocap {
  left: 569px;
  top: 610px;
}
.mariobody1,
.mariobody2 {
  width: 372px;

  top: 770px;
}

.mariobody1 {
  left: 96px;
}

.mariobody2 {
  left: 544px;
}

/*  ------------------ outro page style  ----------------- */

.outro > img {
  position: absolute;
}

.bgplay {
  left: 76px;
}

.itloud {
  top: 576px;
}

.och {
  left: 1076px;
  top: 126px;
}

.outrobody {
  position: absolute;
  width: 389px;
  color: var(--gray_700);
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 179.004%; /* 28.641px */
  left: 950px;
  top: 764px;
}

.oicon1 {
  left: 1006px;
  top: 160px;
}

.oicon2 {
  left: 254px;
  top: 235px;
}
.oicon3 {
  left: 351px;
  top: 787px;
  transform: rotate(99deg);
}
.oicon4 {
  left: 899px;
  top: 958px;
  transform: rotate(-36deg);
}
.oicon5 {
  left: 1006px;
  top: 607px;
}
.oicon6 {
  left: 1717px;
  top: 353px;
}
.oicon7 {
  left: 1647px;
  top: 809px;
  transform: rotate(18deg);
}

.outroswitch,
.outroplay {
  display: flex;
  position: absolute;
}
.outroswitch {
  left: 336px;
  top: 410px;
}
.outroplay {
  left: 860px;
  top: 616px;
}
.outroh {
  display: flex;
  align-items: center;
  margin-left: -16px;
  margin-right: -10px;
  margin-bottom: -2px;
}
.h_centerline,
.l_btmline {
  width: 84px;
  height: 28px;
  background: var(--primary_red);
  margin-left: -24px;
}
.l_btmline {
  height: 16px;
  margin-left: -55px;
}
.outro_h_line2 {
  margin-left: -45px;
}

.outrol {
  display: flex;
  align-items: flex-end;
}
.l_btm {
  margin-left: -12px;
}

.sw_line,
.pl_line {
  position: absolute;
  height: 2.376px;
  background: #000;
}
.sw_line {
  width: 747px;
  left: 309px;
  top: 530px;
}
.pl_line {
  width: 502px;
  left: 837px;
  top: 732px;
}
