@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* root style */
:root {
  --primary_red: #d42d26;
  --secondary_blue: #00bedf;
  --real_p_red: #e21217;
  --gray_100: #e6e6e6;
  --gray_200: #cccccc;
  --gray_300: #b3b3b3;
  --gray_400: #999999;
  --gray_500: #808080;
  --gray_600: #666666;
  --gray_700: #4d4d4d;
  --gray_800: #333333;
  --gray_900: #1a1a1a;

  scroll-behavior: smooth;
}

/* Reset style */

body {
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1920px;
  /* border: 1px solid; */
  height: auto;
  margin: auto;
  overflow: hidden;
}

p,
span,
em,
strong {
  font-family: Outfit;
  font-style: normal;
}

.intro,
.hero {
  width: 100%;
  height: 1080px;
  position: relative;
  overflow: hidden;
  border: 1px solid;
}

/* ------------- menu style ---------------- */
.menu {
  width: 1920px;
  height: 500px;
  background: var(--real_p_red);
  padding-top: 150px;
  position: fixed;
  z-index: 2000;
  box-shadow: 0px 12px 8.4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-120%);
  transition: transform 1s ease;
}

.menu_cnt {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_cnt img {
  transform-origin: center center;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
  transition: all 0.4s;
}
/* 
.menu_cnt img:hover {
  margin: 0 35px;
  transform: scale(1.3);
  transition: all 0.4s;
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.6));
} */

.close {
  position: absolute;
  top: 0;
  right: 0;
}

/* -------------- nav style ----------------- */
nav {
  width: 1920px;
  height: 90px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

nav .nintendo_logo {
  width: 171px;
  height: 42px;
  margin-left: 42px;
}

/* ---------------- intro style ---------------- */
.intro {
  background: var(--real_p_red);
}

.intro .nav_box {
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro img:first-child {
  width: 171px;
  height: 42px;
  margin-left: 42px;
}

.intro video {
  width: 1280px;
  margin-left: 320px;
  margin-top: 135px;
}

/* ------------- hero page style ----------- */

.hero .s_mario {
  width: 100%;
  position: absolute;
  top: 194px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0 122px;
}

.hero .s_mario .blank {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.hero .icon img {
  position: absolute;
  z-index: 2;
}

.hero .icon img:nth-child(1) {
  left: 1456px;
  top: 106px;
}

.hero .icon img:nth-child(2) {
  left: 1614px;
  top: 825px;
}

.hero .icon img:nth-child(3) {
  left: 308px;
  top: 194px;
}

.hero .icon img:nth-child(4) {
  left: 855px;
  top: 295px;
}

.hero .icon img:nth-child(5) {
  left: 217px;
  top: 908px;
}

.hero .icon img:nth-child(6) {
  left: 910px;
  top: 702px;
}

.hero .main_text p {
  position: absolute;
  line-height: 100%;

  z-index: 1;
}

.hero .main_text p:nth-child(1) {
  color: #000;
  font-size: 80px;
  font-weight: 250;

  left: 684px;
  top: 747px;
}

.hero .main_text p:nth-child(2) {
  color: var(--primary_red);
  font-size: 150px;
  font-weight: 600;
  left: 875px;
  top: 686px;
}

.hero .cap p {
  color: var(--gray_700);
  font-size: 16px;
  font-weight: 400;
  line-height: 179.004%; /* 28.641px */
  position: absolute;
  left: 1017px;
  top: 838px;
}

.hero .play {
  padding: 0;
  display: flex;

  column-gap: 40px;
  /* border: 1px solid; */
  margin: auto;
}

.hero .play img:nth-child(1) {
  margin-top: 177px;
  margin-left: -30px;
}

.hero .play > img:nth-child(2) {
  margin-bottom: 222px;
}

/* .hero .play > img:nth-child(3) {
  margin-top: 0;
} */

.hero .play > img:nth-child(4) {
  margin-top: 217px;
}

.NowYoure {
  width: 454px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 29px;
  border: 3px solid var(--gray_200);
  color: var(--gray_200, #ccc);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 41.4px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 951px;
}

/* --------------------------------------- anywhere style */

.anywhere,
.anytime {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.anywhere {
  left: 338px;
  top: 307px;
}
.anywhere .h {
  display: flex;
  align-items: center;
  margin-left: -18px;
  margin-right: -10px;
}
.hcenter {
  width: 84px;
  height: 28px;
  background: var(--primary_red);
  margin-left: -24px;
}
.hright {
  margin-left: -45px;
}

.anytime {
  left: 203px;
  top: 505px;
}

.e {
  display: flex;
  margin-left: -16px;
}
.lines {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.lines .etop,
.ecenter,
.ebtm {
  width: 81px;
  height: 28px;
  background: var(--primary_red);
}
.etop {
  margin-left: -29px;
}
.ecenter {
  margin-left: -46px;
}
.e_top,
.e_center,
.e_bottom {
  display: flex;
}
.lines .ebtm {
  height: 16px;
  margin-left: -55px;
}

.topedge,
.ctedge,
.btmedge {
  margin-left: -12px;
}

.aw_line,
.at_line {
  position: absolute;
  height: 2.376px;
  background: #000;
}
.aw_line {
  width: 1206px;
  left: 318px;
  top: 427px;
}

.at_line {
  width: 917.622px;

  left: 188px;
  top: 626px;
  z-index: 3;
}

/* --------------------------------------------------------------------- */

.hardware {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
}
.arrowbox_left,
.arrowbox_right {
  border: 1px solid purple;
  width: 153px;
  height: 1080px;
  background: #fff;
  z-index: 1;
}
.hardwarebox,
.hw {
  width: 1614px;
  height: 1080px;
  border: 1px solid green;
  position: relative;
}
.hardware02 {
  transform: translate(1614px, -1080px);
}
.hardware03_gray {
  transform: translate(3228px, -2160px);
  border: 3px solid green;
}
/* ------hw01-------------------- */

.hardware01 *,
.hardware03_gray * {
  position: absolute;
}
.hardware01 .switch_shadow {
  left: 341px;
  top: 760px;
}

.hardware01 .title .Nintendo,
.hardware01 .title .Nintendo_s {
  color: var(--primary_red);
  font-size: 208px;
  font-weight: 800;
  line-height: 100%; /* 208px */
}

.hardware01 .title .Nintendo {
  left: 93px;
  top: 150px;
}

.hardware01 .title .Nintendo_s {
  opacity: 0.4;
  filter: blur(10px);
  left: 103px;
  top: 160px;
}

.hardware01 .title .Switch,
.hardware01 .title .Switch_s {
  color: var(--primary_red);

  font-size: 195px;

  font-weight: 800;
  line-height: 100%; /* 195px */
}

.hardware01 .title .Switch {
  left: 138px;
  top: 621px;
}

.hardware01 .title .Switch_s {
  opacity: 0.4;
  filter: blur(10px);
  left: 148px;
  top: 631px;
}

.hardware01 .cap {
  color: var(--gray_800);

  font-size: 26px;

  font-weight: 300;
  line-height: 34px; /* 130.769% */
  left: 143px;
  top: 830px;
}

.hardware01 .oled {
  position: absolute;
  left: 217px;
  top: 226px;
}

.hardware01 .circles .hw01_c01 {
  left: 964px;
  top: 320px;
}

.hardware01 .circles .hw01_c02 {
  left: 1356px;
  top: 235px;
}

.hardware01 .circles .hw01_c03 {
  left: 1390px;
  top: 871px;
}

.hardware01 .OLED_text {
  color: var(--primary_red);
  text-align: right;
  font-size: 213px;
  font-weight: 800;
  line-height: 100%; /* 213px */
  left: 789px;
  top: 606px;
  z-index: 4;
}

.hardware01 .OLED_mask {
  left: 811px;
  top: 320px;
  z-index: 5;
}
/* hw02 ----------------- */

.hardware02 * {
  position: absolute;
}

.hardware02 .switch_shadow {
  left: 548px;
  top: 850px;
}

.hardware02 .cap {
  color: var(--gray_800);
  font-size: 26px;
  font-weight: 300;
  line-height: 34px; /* 130.769% */
  left: 999px;
  top: 931px;
}

.hardware02 .switch {
  left: 226px;
  top: 48px;
  transform: rotate(5.179deg);
}

.hardware02 .circles .hw02_c01 {
  left: 391px;
  top: 90px;
}
.hardware02 .circles .hw02_c02 {
  left: 1264px;
  top: 508px;
}
.hardware02 .circles .hw02_c03 {
  left: 264px;
  top: 140px;
}

.hardware02 .Nintendo_s {
  color: var(--secondary_blue);
  font-size: 208px;
  font-weight: 800;
  line-height: 100%;
  opacity: 0.4;
  filter: blur(10px);
  left: 609px;
  top: 719px;
}

.hardware02 .Nintendo {
  color: var(--secondary_blue);
  font-size: 208px;
  font-weight: 800;
  line-height: 100%;
  left: 599px;
  top: 709px;
}

.hardware02 .Switch_s {
  color: var(--secondary_blue);
  font-size: 195px;
  font-weight: 800;
  line-height: 100%;
  opacity: 0.4;
  filter: blur(10px);
  left: 242px;
  top: 254px;
}

.hardware02 .Switch {
  color: var(--secondary_blue);
  font-size: 195px;
  font-weight: 800;
  line-height: 100%;
  left: 232px;
  top: 244px;
}

.hardware02 .switch_mask {
  left: 391px;
  top: 90px;
}

/* hw03 */
.hardware03_gray .circles img:nth-child(1) {
  left: 536px;
  top: 81px;
}
.hardware03_gray .circles img:nth-child(2) {
  left: 144px;
  top: 416px;
}
.hardware03_gray .circles img:nth-child(3) {
  left: 1495px;
  top: 595px;
}
.hardware03_gray .circles img:nth-child(4) {
  left: 105px;
  top: 322px;
}
.hardware03_gray .lite_gray {
  left: 258px;
  top: 222px;
  transform: rotate(11.75deg);
}

.hardware03_gray .cap {
  color: var(--gray_800);
  font-size: 26px;
  font-weight: 300;
  line-height: 34px; /* 130.769% */
  left: 271px;
  top: 884px;
}

.hardware03_gray > span {
  color: var(--gray_500);
  /* leading-trim: both;
  text-edge: cap; */
  font-size: 16px;
  font-weight: 300;
  line-height: 34px; /* 212.5% */
  left: 1100px;
  top: 948px;
}

.hardware03_gray #Nintendo {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  left: 264px;
  top: 685px;
}

.hardware03_gray #Nintendo_s {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  opacity: 0.4;
  filter: blur(8.978022575378418px);
  left: 265px;
  top: 694px;
}

.hardware03_gray #Switch {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  left: 536px;
  top: 113px;
}
.hardware03_gray #Switch_s {
  color: var(--gray_700);
  font-size: 185px;
  font-weight: 800;
  line-height: 100%; /* 185px */
  opacity: 0.4;
  filter: blur(10px);
  left: 546px;
  top: 123px;
  z-index: -10;
}

.hardware03_gray .pickcolor {
  height: 36px;
  display: flex;
  column-gap: 18.5px;
  left: 1094px;
  top: 989px;
}

.hardware03_gray .pickcolor > * {
  width: 57.803px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 20px;
  position: relative;
}

.hardware03_gray .pickcolor #selected {
  border: 3px solid #000;
}

.hardware03_gray .pickcolor .gray {
  background: #70777a;
}
.hardware03_gray .pickcolor .yellow {
  background: #fdf050;
}

.hardware03_gray .pickcolor .cyan {
  background: #50b3b6;
}

.hardware03_gray .pickcolor .pink {
  background: #ec5882;
}

.hardware03_gray .pickcolor .blue {
  background: #062b91;
}
